<aside>
	<div class="panel radius">
		<h3>Full Frontal Bar</h3>
		<p>
			If your enjoying the content, please come visit the links below!!
		</p>
	</div>

	<div class="panel radius">
		<p>
			<a href="https://discord.gg/j964pJu" target="_blank" style="border-bottom: 0px"><img src="../images/Discord_Logo_Wordmark_Color.png" alt="discord"></a>
		</p>
	</div>

	<div class="panel radius">
		<p>
			<a href="https://www.twitch.tv/wobblytrout/" target="_blank" style="border-bottom: 0px"><img src="../images/Combo_Purple_RGB.png" alt="twitch"></a>
		</p>
	</div>

	<div class="border-dotted radius b30">
		<img src="../images/fluffers_1.jpg" alt="uh, defensive kitten for ... attaqqqing">
		<p class="text-left">
			Here, its dangerous to go alone, take this kitten with you.
		</p>
	</div>
</aside>